<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path ~ '/dist/css/style.min.css' }}">
    <title>Preview Layout</title>
</head>
<body>

{{ yield }}

</body>
</html>
